In [27]:
import xlsxwriter
import random
import names
import openpyxl as xl
from openpyxl import Workbook

workbook = xlsxwriter.Workbook('/home/deepti/Downloads/mydata_file.xlsx')
worksheet = workbook.add_worksheet()
worksheet.write('A1', 'Id')
worksheet.write('B1', 'Names')
worksheet.write('C1', 'Age')
worksheet.write('D1', 'Gender')
rowIndex = 2
for row in range(100):
    Id = row+1
    Names = names.get_first_name()
    Age = 20 + random.randint(1, 100)
    Gender = random.choice(['Female','Male'])
    
    worksheet.write('A' + str(rowIndex), Id)
    worksheet.write('B' + str(rowIndex), Names)
    worksheet.write('C' + str(rowIndex), Age)
    worksheet.write('D' + str(rowIndex), Gender)
    
    rowIndex += 1
    print(Id, Names, Age, Gender)

workbook.close()

1 James 49 Female
2 John 80 Male
3 Paul 91 Female
4 Annette 92 Male
5 Jon 102 Male
6 Lynn 103 Male
7 John 23 Male
8 Mary 59 Male
9 Rebecca 79 Male
10 Marian 31 Male
11 James 79 Male
12 Nicholas 28 Male
13 Consuelo 115 Female
14 John 76 Female
15 Joseph 27 Female
16 Clarence 22 Female
17 Lynda 61 Male
18 Dustin 86 Male
19 Brian 47 Female
20 Sherice 112 Female
21 Tiffany 49 Female
22 Jay 52 Male
23 Terry 70 Female
24 David 99 Male
25 Kenneth 117 Male
26 Mary 45 Female
27 Jack 42 Male
28 Jessica 90 Male
29 Susan 111 Female
30 Janice 108 Female
31 Erma 38 Female
32 Cynthia 57 Female
33 Jason 116 Female
34 Brian 119 Female
35 Charles 97 Male
36 Matthew 63 Female
37 Douglas 69 Male
38 Jackie 108 Female
39 Hubert 100 Male
40 Natalie 114 Male
41 Peter 117 Female
42 Opal 68 Male
43 Rebecca 103 Female
44 Mary 71 Male
45 Joseph 95 Female
46 Arlen 36 Male
47 Teresa 81 Male
48 Matthew 119 Female
49 Aaron 93 Male
50 James 91 Female
51 Ricky 45 Female
52 Jaclyn 45 Female
53 David 41 Female
54 Darrel 31 Male
55 Eddie 100 Male
56 Lauren 97 Female
57 Raymond 60 Male
58 Gabriel 100 Female
59 Kathleen 58 Female
60 Michael 51 Male
61 Edward 49 Female
62 Richard 85 Female
63 Joshua 110 Female
64 William 70 Male
65 Elvin 69 Male
66 Michael 54 Male
67 Christopher 34 Female
68 Patricia 48 Female
69 Jeffery 106 Female
70 Brenda 39 Female
71 Marcia 83 Male
72 Effie 119 Male
73 Aaron 105 Male
74 Donald 61 Female
75 Jeremy 64 Female
76 James 106 Male
77 Ron 53 Male
78 Edgar 29 Male
79 Noella 73 Female
80 Kathryn 41 Female
81 Joan 84 Female
82 Jason 22 Female
83 James 34 Female
84 Tammy 113 Female
85 Karen 41 Male
86 Amy 87 Female
87 Chester 44 Female
88 Caryn 82 Male
89 Lisa 47 Female
90 James 45 Female
91 Randy 88 Female
92 David 111 Female
93 Harry 102 Male
94 Jason 32 Male
95 Edwina 101 Female
96 Joan 88 Male
97 Charles 51 Male
98 Nelda 105 Female
99 Gregory 114 Male
100 Christopher 58 Male